<div id="servers" class="page">

    <div class="container white-text">
        <div id="groupSection" class="section">
            <h5><i class="material-icons">library_books</i> ServerGruppen
                <a href="#proxyCreateModal" id="createGroup" class=" right btn-small modal-trigger waves-effect waves light">Erstellen</a></h5>
            <div class="divider"></div>
            <p id="noGroupInfo" class="center">Es gibt noch keine ServerGruppen</p>
            <ul class="collapsible grey darken-3"></ul>
        </div>
        <div id="serverSection" class="section">
            <h5><i class="material-icons">storage</i> Server</h5>
            <div class="divider"></div>
            <p id="noServerInfo" class="center">Es sind keine Server online</p>
            <ul class="collapsible grey darken-3"></ul>
        </div>
    </div>

    <!-- Create-Modal -->
    <div id="proxyCreateModal" class="modal collapsible grey darken-3 white-text">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer grey darken-3 white-text">
            <a href="#" class="modal-close waves-effect waves-light btn-flat">Erstellen</a>
        </div>
    </div>

    <template id="groupTemplate">
        <li>
            <div class="collapsible-header grey darken-3">Name</div>
            <div class="collapsible-body">
                <div id="startButton" class="col s10">Einen Server starten <div class="right btn-small waves-effect waves light">Start</div></div>
            </div>
        </li>
    </template>

    <template id="serverTemplate">
        <li>
            <div class="collapsible-header grey darken-3">Name</div>
            <div class="collapsible-body">
                <div class="row">
                    <div id="stopButton" class="col s12">Diesen Server stoppen<div class="right btn-small waves-effect waves light">Stop</div></div>
                    <div id="consoleButton" class="col s12">Konsole öffnen<div class="right btn-small waves-effect waves light">Öffnen</div></div>
                </div>
            </div>
        </li>
    </template>

</div>



